
# HTID:16815314: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
php_flag output_buffering on
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:16815314:
RewriteEngine On

RewriteRule ^content/([^/]*)$ /content.php?id=$1 [L]
RewriteRule ^page/([^/]*)$ /page.php?url=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
RewriteRule ^([a-z]+)\/?$ $1.php [NC]